@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

:root {
	--font-body: -apple-system, Ubuntu, Arial, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
}
